*{
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(185, 75%, 39%);
}
.conteudo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    min-width: 300px;
    background-color: white;
    border-radius: 10px;
}
p{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}
.info-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Por não se tratar de uma row "justify-content" usa align-items (column)*/

    padding: 15px;
}
.info-1 img{
    width: 80px;
    border-radius: 50px;
}
.info-1 p{
    margin-top: 15px;
}

.idade{
    color: rgb(136, 136, 136);
    /* font-weight: 400; */
}
.cidade{
    color: rgb(136, 136, 136);
    font-weight: 400;
}
.coluna p:nth-child(2){
    color: rgb(136, 136, 136);
    font-weight: 400;
}


.info-2{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsl(220, 2%, 72%);
    padding: 15px;

}
.info-2 .coluna{
    text-align: center;
}




/* text-color: hsl(227, 10%, 46%); */